.UserInfo-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.UserInfo-selected {
	background-color: #ebebeb;
}

.UserInfo-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.5rem;
	flex-grow: 1;
	min-height: 100%;
}

.UserInfo-controls-container {
	display: flex;
	flex-direction: row;
	justify-items: flex-end;
	gap: 0.5rem;
	flex-grow: 1;
}
