.MessagesList {
	flex-grow: 1;
	overflow: auto;
	/* stick MessageList-scrollable to bottom */
}

.MessagesList-scrollable {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: min-content;
	min-height: 100%;
}

.MessagesList-dummy-div {
	height: 0.5rem;
	width: 100%;
}
